* {
    font-size: 1.06em;
    text-align: center;
}

body {
    background-color: lightgray;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
}

form, div {
    display: grid;
    background-color: darkgrey;
    border: solid black 2px;
    padding: 2em;
    border-radius: 10px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: 10px;
}

div {
    grid-template-columns: auto;
}

h1 {
    grid-row: 1;
    grid-column: 1 / span 2;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 2em;
}

.firstRow {
    grid-row: 2;
}

.secondRow {
    grid-row: 3;
}

.thirdRow {
    grid-row: 4;
}


.submit {
    grid-row: 4;
    grid-column: 1 / span 2;
}

.submit:hover, .goBack:hover {
    background-color: darkslategray;
    color: white;
}

p.firstRow, p.secondRow, p.thirdRow, .goBack {
    grid-column: 1 / span 2;
    font-size: 20px;
}

p.thirdRow {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.noBackGround {
    border: none;
    background-color: darkgrey !important;
}