* {
    text-align: center;
}

.currentClientsDiv {
    background-color: lightgrey;
    padding: 10px;
}

.errorP, .addSuccess, .goBack {
    font-size: 24px;
}

.goBack:hover {
    background-color: darksalmon;
}

errorDiv {
    padding: 10px;
    background-color: lightgrey;
}

hr {
    color: black;
}

h2 {
    font-size: 30px;
    background-color: lightsalmon;
    border: solid 1px black;
    padding: 7px;
}

h1 {
    font-size: 60px;
    background-color: lightsalmon;
    border: solid 1px black;
    padding: 7px;
}

label, input {
    font-size: 24px;
}

p {
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul p {
    text-align: left;
}

input {
    margin: 5px;
}

body {
    display: grid;
    justify-content: center;
}

.clientName {
    font-size: 22px;
}

form {
    display: grid;
    background-color: lightgrey;
    padding: 12px;
}

.firstRow {
    grid-row: 1;
}

.secondRow {
    grid-row: 2;
}

.thirdRow {
    grid-row: 3;
}

.fourthRow {
    grid-row: 4;
}

.fifthRow {
    grid-row: 5;
}

sixthRow {
    grid-row: 6;
}

.submit {
    grid-row: 7;
    grid-column: 1 / span 2;
    margin-top: 15px;
}

.submit:hover {
    background-color: darksalmon;
}
